In [2]:
print('Hi')

Hi

# First Programming
## Say Hi

In [4]:
import turtle as t

t.color("red")
t.forward(300)
t.left(120)
t.forward(300)
t.left(120)
t.forward(300)
t.left(120)

t.color("green")
t.pensize(3)
t.forward(100)
t.left(90)
t.forward(100)
t.left(90)
t.forward(100)
t.left(90)
t.forward(100)
t.left(90)

t.color("blue")
t.pensize(5)
t.circle(100)

In [31]:
x ,y = 10, 20
x,y=y,x

In [32]:
x

20

In [33]:
y

10

# Example1

In [36]:
myMoney = 5000;
candyPrice = 120;

numCandies = myMoney//candyPrice
print(numCandies)

change = myMoney % candyPrice;
print(change)

41
80

# Example2

In [37]:
import turtle as t

d=100

t.forward(d)
t.left(60)
t.forward(d)
t.left(60)
t.forward(d)
t.left(60)
t.forward(d)
t.left(60)
t.forward(d)
t.left(60)
t.forward(d)
t.left(60)

# Example3

In [3]:
Money = 24
Rate = 0.06
Year = 382
FV = Money * (1+0.06)**382
FV

111442737812.28842

# Example4

In [7]:
Length = 40 * 10 ** 12
SpeedOfLight = 3 * 10 ** 5
secs = Length/SpeedOfLight
print(secs)
light_year = secs/(60*60*24*365)
print(light_year)

133333333.33333333
4.227972264501945

# Lab2

In [14]:
init_potato = 20
week_potato = 40-10
dayEat_potato = 3
tot_potato = init_potato + week_potato * 52 - dayEat_potato * 365
tot_potato

485

# Lab3

In [24]:
Ground = 18 / 20
uphill = ((3 ** 2 + 4 ** 2)**0.5) /10
downhill = ((3 ** 2 + 4 ** 2)**0.5) /30
Time = Ground + uphill + downhill
Time

1.5666666666666667

# Example InputOutput 1

a = input ('Input First Number : ')
b = input ('Input Second Number : ')

print(a+b)

# Example InputOutput 2

In [26]:
a = int(input ('Input First Number : '))
b = int(input ('Input Second Number : '))

print(a+b)

Input First Number : 56
Input Second Number : 4
60

# Example InputOutput 3

In [30]:
a, b = input('Input Word : ').split()
print(a)
print(b)

Input Word : Hello Python
Hello
Python

# Example InputOutput 4

In [32]:
a, b = input('Input 2 Numbers : ').split()
print(int (a) + int (b) )

Input 2 Numbers : 2 4
6

# Example InputOutput 5

In [34]:
a, b = map (int, input('Input 2 Numbers : ').split())
print(a + b)

Input 2 Numbers : 5 80
85

# Example InputOutput 6

In [36]:
a, b = map (int, input('Input 2 Numbers : ').split(','))
print(a + b)

Input 2 Numbers : 7, 90
97